In [2]:
import pandas as pd
df1 = pd.read_excel("dognition_data_aggregated_by_dogid.xlsx")
df1.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_ID,Subscribed,City,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type
0,fd27b272-7144-11e5-ba71-058fbc01cf0b,21,28.201076,40609.549167,0.004687,6.750000,564.021516,812190.983333,ce134e42-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Grand Forks,ND,58201,US,0,0,2015-03-12 00:25:00,2
1,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,20,0.413307,595.162281,0.005845,8.416667,7.852836,11308.083333,ce1353d8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Barre,MA,01005,US,0,0,00:00:00,1
2,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,2,0.009132,13.150000,0.009132,13.150000,0.009132,13.150000,ce135ab8-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Darien,CT,06820,US,0,0,00:00:00,1
3,fd27b79a-7144-11e5-ba71-058fbc01cf0b,11,56.115179,80805.858333,0.004433,6.383333,561.151794,808058.583333,ce13507c-7144-11e5-ba71-058fbc01cf0b,male,...,1.0,1.0,Winnetka,IL,60093,US,0,0,2014-09-12 19:26:00,1
4,fd27b86c-7144-11e5-ba71-058fbc01cf0b,31,7.734254,11137.326111,0.000399,0.575000,232.027627,334119.783333,ce135e14-7144-11e5-ba71-058fbc01cf0b,female,...,2.0,1.0,Raleigh,NC,27606,US,1,0,00:00:00,2

In [3]:
df2 = pd.read_excel('dognition_data_no_aggregation_with_zip_code_correction.xlsx')

df2

,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Gender,Birthday,Breed,Breed_Type,...,State,Zip,Country,Exclude,Free_Start_User,Last_Active_At,Membership_Type,Rating,Rank_by_UserID,Rank_by_DogID
0,2013-05-13 16:17:00,2013-05-13 16:17:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,1.0,1.0
1,2013-05-22 18:54:00,2013-05-22 18:54:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,2.0,2.0
2,2013-05-22 18:55:00,2013-05-22 18:55:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,3.0,3.0
3,2013-05-22 18:56:00,2013-05-22 18:56:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,4.0,4.0
4,2013-05-22 18:58:00,2013-05-22 18:58:00,ce134a78-7144-11e5-ba71-058fbc01cf0b,fd3d1b44-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,male,2009,Shih Tzu,Pure Breed,...,NC,27701,US,1,0,2015-02-23 13:39:00,2,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177476,2013-05-14 08:45:00,2013-05-14 08:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,One Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,12.0,12.0
177477,2013-05-14 08:50:00,2013-05-14 08:50:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Two Cup Warm-up,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,13.0,13.0
177478,2013-05-14 08:54:00,2013-05-14 08:54:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Pointing,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,14.0,14.0
177479,2013-05-19 04:45:00,2013-05-19 04:45:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Memory versus Smell,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,15.0,15.0
177480,2013-05-19 05:05:00,2013-05-19 05:05:00,ce2777e6-7144-11e5-ba71-058fbc01cf0b,fd444202-7144-11e5-ba71-058fbc01cf0b,Delayed Cup Game,Memory,male,2012,Mixed,Mixed Breed/ Other/ I Don't Know,...,NaN,466311,SG,NaN,NaN,2014-04-28 01:18:00,1,NaN,16.0,16.0

In [4]:
columns_df1 = df1.columns
print("Column names for df1:", columns_df1)

Column names for df1: Index(['Dog ID', 'Total Tests Completed', 'Mean ITI (days)',
       'Mean ITI (minutes)', 'Median ITI (days)', 'Median ITI (minutes)',
       'Time diff between first and last game (days)',
       'Time diff between first and last game (minutes)', 'User ID', 'Gender',
       'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed',
       'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID',
       'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude',
       'Free_Start_User', 'Last_Active_At', 'Membership_Type'],
      dtype='object')

In [5]:
columns_df2 = df2.columns
print("Column names for df2:", columns_df2)

Column names for df2: Index(['Created_at', 'Updated_at', 'User_ID', 'Dog_ID', 'Test_name',
       'Subcategory_name', 'Gender', 'Birthday', 'Breed', 'Breed_Type',
       'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension',
       'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City',
       'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User',
       'Last_Active_At', 'Membership_Type', 'Rating', 'Rank_by_UserID',
       'Rank_by_DogID'],
      dtype='object')

In [6]:
# Select and display only the 'Dog ID' column from df1
dog_id_column_df1 = df1['Dog ID']
print(dog_id_column_df1.head())
# Select and display only the 'Dog ID' column from df2
dog_id_column_df2 = df2['Dog_ID']
print(dog_id_column_df2.head())

0    fd27b272-7144-11e5-ba71-058fbc01cf0b
1    fd27b5ba-7144-11e5-ba71-058fbc01cf0b
2    fd27b6b4-7144-11e5-ba71-058fbc01cf0b
3    fd27b79a-7144-11e5-ba71-058fbc01cf0b
4    fd27b86c-7144-11e5-ba71-058fbc01cf0b
Name: Dog ID, dtype: object
0    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
1    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
2    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
3    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
4    fd3d1b44-7144-11e5-ba71-058fbc01cf0b
Name: Dog_ID, dtype: object

In [7]:
# Merge the dataframes on multiple columns
merged_df = pd.merge(df1, df2, left_on=['User ID','Dog ID', 'Gender', 'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User', 'Last_Active_At', 'Membership_Type'], right_on=['User_ID','Dog_ID', 'Gender', 'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed', 'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID', 'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude', 'Free_Start_User', 'Last_Active_At', 'Membership_Type'], how='inner', suffixes=('_df1', '_df2'))

# Display the merged dataframe
merged_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
0,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:47:00,2013-10-10 18:47:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,31.0,1.0
1,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:59:00,2013-10-10 18:59:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,32.0,2.0
2,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 19:00:00,2013-10-10 19:00:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,33.0,3.0
3,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-13 19:07:00,2014-01-13 19:07:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,36.0,4.0
4,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-21 22:33:00,2014-01-21 22:33:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,37.0,5.0

In [8]:
columns_merged_df = merged_df.columns
print("Column names for merged_df:", columns_merged_df)

Column names for merged_df: Index(['Dog ID', 'Total Tests Completed', 'Mean ITI (days)',
       'Mean ITI (minutes)', 'Median ITI (days)', 'Median ITI (minutes)',
       'Time diff between first and last game (days)',
       'Time diff between first and last game (minutes)', 'User ID', 'Gender',
       'Birthday', 'Breed', 'Breed_Type', 'Breed_Group', 'Weight', 'Dog_Fixed',
       'DNA_Tested', 'Dimension', 'Sign_in_Count', 'Max_Dogs', 'Membership_ID',
       'Subscribed', 'City', 'State', 'Zip', 'Country', 'Exclude',
       'Free_Start_User', 'Last_Active_At', 'Membership_Type', 'Created_at',
       'Updated_at', 'User_ID', 'Dog_ID', 'Test_name', 'Subcategory_name',
       'Rating', 'Rank_by_UserID', 'Rank_by_DogID'],
      dtype='object')

In [9]:
# Sort the merged DataFrame by the 'Dog_Fixed' column
merged_df_sorted = merged_df.sort_values(by='Dog_Fixed')

# Display the sorted DataFrame
merged_df_sorted.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
908,fd46ae84-7144-11e5-ba71-058fbc01cf0b,20,0.001270,1.828947,0.000868,1.250000,0.024132,34.750000,ce472c1c-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-06-27 16:19:00,2013-06-27 16:19:00,ce472c1c-7144-11e5-ba71-058fbc01cf0b,fd46ae84-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,3.0,3.0
518,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2,2013-09-13 16:15:00,2013-09-13 16:15:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,fd42a366-7144-11e5-ba71-058fbc01cf0b,Slide,Shell Game,NaN,56.0,32.0
519,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2,2013-10-22 12:59:00,2013-10-22 12:59:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,fd42a366-7144-11e5-ba71-058fbc01cf0b,Switch,Shell Game,NaN,57.0,33.0
520,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2,2013-10-23 15:04:00,2013-10-23 15:04:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,fd42a366-7144-11e5-ba71-058fbc01cf0b,Warm-Up,Self Control Game,NaN,59.0,34.0
521,fd42a366-7144-11e5-ba71-058fbc01cf0b,42,9.532181,13726.340650,0.011644,16.766667,390.819421,562779.966667,ce261bd0-7144-11e5-ba71-058fbc01cf0b,male,...,2,2013-10-23 15:12:00,2013-10-23 15:12:00,ce261bd0-7144-11e5-ba71-058fbc01cf0b,fd42a366-7144-11e5-ba71-058fbc01cf0b,Self Control Game,Self Control Game,NaN,60.0,35.0

In [10]:
# Filter the merged DataFrame to show only dogs that are fixed
fixed_dogs_df = merged_df[merged_df['Dog_Fixed'] == True]

# Display the filtered DataFrame
fixed_dogs_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
0,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:47:00,2013-10-10 18:47:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,31.0,1.0
1,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 18:59:00,2013-10-10 18:59:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,32.0,2.0
2,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2013-10-10 19:00:00,2013-10-10 19:00:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,33.0,3.0
3,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-13 19:07:00,2014-01-13 19:07:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,36.0,4.0
4,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,22,13.520467,19469.473016,0.008171,11.766667,283.929815,408858.933333,ce135766-7144-11e5-ba71-058fbc01cf0b,female,...,2,2014-01-21 22:33:00,2014-01-21 22:33:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd3ccf2c-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,37.0,5.0

In [11]:
# Filter the merged DataFrame to show only dogs that are not fixed
not_fixed_dogs_df = merged_df[merged_df['Dog_Fixed'] == False]

# Display the filtered DataFrame
not_fixed_dogs_df.head()

,Dog ID,Total Tests Completed,Mean ITI (days),Mean ITI (minutes),Median ITI (days),Median ITI (minutes),Time diff between first and last game (days),Time diff between first and last game (minutes),User ID,Gender,...,Membership_Type,Created_at,Updated_at,User_ID,Dog_ID,Test_name,Subcategory_name,Rating,Rank_by_UserID,Rank_by_DogID
312,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:19:00,2014-10-09 17:19:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Yawn Warm-up,Empathy,NaN,68.0,1.0
313,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:22:00,2014-10-09 17:22:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Yawn Game,Empathy,NaN,69.0,2.0
314,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:25:00,2014-10-09 17:25:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Eye Contact Warm-up,Empathy,NaN,70.0,3.0
315,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2014-10-09 17:27:00,2014-10-09 17:27:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Eye Contact Game,Empathy,NaN,71.0,4.0
316,fd41f056-7144-11e5-ba71-058fbc01cf0b,20,5.052521,7275.630702,0.000278,0.4,95.997905,138236.983333,ce135766-7144-11e5-ba71-058fbc01cf0b,male,...,2,2015-01-13 16:56:00,2015-01-13 16:56:00,ce135766-7144-11e5-ba71-058fbc01cf0b,fd41f056-7144-11e5-ba71-058fbc01cf0b,Treat Warm-up,Communication,NaN,72.0,5.0

In [12]:
# Create a DataFrame for male dogs
male_dogs_df = merged_df[merged_df['Gender'] == 'male']

# Create a DataFrame for female dogs
female_dogs_df = merged_df[merged_df['Gender'] == 'female']

# Display the DataFrames
print("Male Dogs:")
print(male_dogs_df.head())

print("\nFemale Dogs:")
print(female_dogs_df.head())

Male Dogs:
                                  Dog ID  Total Tests Completed  \
22  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
23  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
24  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
25  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20
26  fd3d1b44-7144-11e5-ba71-058fbc01cf0b                     20

    Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
22         3.055452         4399.850877            0.00059
23         3.055452         4399.850877            0.00059
24         3.055452         4399.850877            0.00059
25         3.055452         4399.850877            0.00059
26         3.055452         4399.850877            0.00059

    Median ITI (minutes)  Time diff between first and last game (days)  \
22                  0.85                                     58.053588
23                  0.85                                     58.053588
24                  0.85                                     58.053588
25                  0.85                                     58.053588
26                  0.85                                     58.053588

    Time diff between first and last game (minutes)  \
22                                     83597.166667
23                                     83597.166667
24                                     83597.166667
25                                     83597.166667
26                                     83597.166667

                                 User ID Gender  ...  Membership_Type  \
22  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
23  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
24  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
25  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2
26  ce134a78-7144-11e5-ba71-058fbc01cf0b   male  ...                2

            Created_at          Updated_at  \
22 2013-05-13 16:17:00 2013-05-13 16:17:00
23 2013-05-22 18:54:00 2013-05-22 18:54:00
24 2013-05-22 18:55:00 2013-05-22 18:55:00
25 2013-05-22 18:56:00 2013-05-22 18:56:00
26 2013-05-22 18:58:00 2013-05-22 18:58:00

                                 User_ID  \
22  ce134a78-7144-11e5-ba71-058fbc01cf0b
23  ce134a78-7144-11e5-ba71-058fbc01cf0b
24  ce134a78-7144-11e5-ba71-058fbc01cf0b
25  ce134a78-7144-11e5-ba71-058fbc01cf0b
26  ce134a78-7144-11e5-ba71-058fbc01cf0b

                                  Dog_ID            Test_name  \
22  fd3d1b44-7144-11e5-ba71-058fbc01cf0b         Yawn Warm-up
23  fd3d1b44-7144-11e5-ba71-058fbc01cf0b            Yawn Game
24  fd3d1b44-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up
25  fd3d1b44-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game
26  fd3d1b44-7144-11e5-ba71-058fbc01cf0b        Treat Warm-up

    Subcategory_name Rating  Rank_by_UserID  Rank_by_DogID
22           Empathy    NaN             1.0            1.0
23           Empathy    NaN             2.0            2.0
24           Empathy    NaN             3.0            3.0
25           Empathy    NaN             4.0            4.0
26     Communication    NaN             5.0            5.0

[5 rows x 39 columns]

Female Dogs:
                                 Dog ID  Total Tests Completed  \
0  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
1  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
2  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
3  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22
4  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b                     22

   Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
0        13.520467        19469.473016           0.008171
1        13.520467        19469.473016           0.008171
2        13.520467        19469.473016           0.008171
3        13.520467        19469.473016           0.008171
4        13.520467        19469.473016           0.008171

   Median ITI (minutes)  Time diff between first and last game (days)  \
0             11.766667                                    283.929815
1             11.766667                                    283.929815
2             11.766667                                    283.929815
3             11.766667                                    283.929815
4             11.766667                                    283.929815

   Time diff between first and last game (minutes)  \
0                                    408858.933333
1                                    408858.933333
2                                    408858.933333
3                                    408858.933333
4                                    408858.933333

                                User ID  Gender  ...  Membership_Type  \
0  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
1  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
2  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
3  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2
4  ce135766-7144-11e5-ba71-058fbc01cf0b  female  ...                2

           Created_at          Updated_at  \
0 2013-10-10 18:47:00 2013-10-10 18:47:00
1 2013-10-10 18:59:00 2013-10-10 18:59:00
2 2013-10-10 19:00:00 2013-10-10 19:00:00
3 2014-01-13 19:07:00 2014-01-13 19:07:00
4 2014-01-21 22:33:00 2014-01-21 22:33:00

                                User_ID                                Dog_ID  \
0  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
1  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
2  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
3  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b
4  ce135766-7144-11e5-ba71-058fbc01cf0b  fd3ccf2c-7144-11e5-ba71-058fbc01cf0b

             Test_name  Subcategory_name Rating  Rank_by_UserID  Rank_by_DogID
0         Yawn Warm-up           Empathy    NaN            31.0            1.0
1            Yawn Game           Empathy    NaN            32.0            2.0
2  Eye Contact Warm-up           Empathy    NaN            33.0            3.0
3     Eye Contact Game           Empathy    NaN            36.0            4.0
4        Treat Warm-up     Communication    NaN            37.0            5.0

[5 rows x 39 columns]

In [16]:
# Sort male and female dogs in df1 by 'Breed'
sorted_male_dogs_df1 = df1[df1['Gender'] == 'male'].sort_values(by='Breed')
sorted_female_dogs_df1 = df1[df1['Gender'] == 'female'].sort_values(by='Breed')

# Sort male and female dogs in df2 by 'Breed'
sorted_male_dogs_df2 = df2[df2['Gender'] == 'male'].sort_values(by='Breed')
sorted_female_dogs_df2 = df2[df2['Gender'] == 'female'].sort_values(by='Breed')

# Display the sorted DataFrames
print("Male Dogs in df1:")
print(sorted_male_dogs_df1.head())

print("\nFemale Dogs in df1:")
print(sorted_female_dogs_df1.head())

print("\nMale Dogs in df2:")
print(sorted_male_dogs_df2.head())

print("\nFemale Dogs in df2:")
print(sorted_female_dogs_df2.head())

Male Dogs in df1:
                                     Dog ID  Total Tests Completed  \
3035   fd511324-7144-11e5-ba71-058fbc01cf0b                     15
14217  fdaf0bc8-7144-11e5-ba71-058fbc01cf0b                      4
2494   fd4a6b6e-7144-11e5-ba71-058fbc01cf0b                     20
478    fd416050-7144-11e5-ba71-058fbc01cf0b                     20
10844  fd7ae6b8-7144-11e5-ba71-058fbc01cf0b                     17

       Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
3035         16.071649        23143.175000           0.004091
14217         0.003673            5.288889           0.003218
2494          0.004853            6.988596           0.002685
478           0.069015           99.381579           0.003021
10844         0.145346          209.298958           0.005561

       Median ITI (minutes)  Time diff between first and last game (days)  \
3035               5.891667                                    225.003090
14217              4.633333                                      0.011019
2494               3.866667                                      0.092211
478                4.350000                                      1.311285
10844              8.008333                                      2.325544

       Time diff between first and last game (minutes)  \
3035                                     324004.450000
14217                                        15.866667
2494                                        132.783333
478                                        1888.250000
10844                                      3348.783333

                                    User ID Gender  ...  Membership_ID  \
3035   ce326246-7144-11e5-ba71-058fbc01cf0b   male  ...            1.0
14217  ce852530-7144-11e5-ba71-058fbc01cf0b   male  ...           10.0
2494   ce29675e-7144-11e5-ba71-058fbc01cf0b   male  ...            1.0
478    ce251974-7144-11e5-ba71-058fbc01cf0b   male  ...            1.0
10844  ce7a912e-7144-11e5-ba71-058fbc01cf0b   male  ...           10.0

      Subscribed                City State    Zip  Country  Exclude  \
3035         0.0                 NaN   NaN    NaN      NaN        0
14217        1.0  North Myrtle Beach    SC  29582       US        0
2494         0.0               Aldie    VA  20105       US        0
478          0.0              Guatay    CA  91931       US        0
10844        1.0          Glen Ellen    CA  95442       US        0

      Free_Start_User       Last_Active_At  Membership_Type
3035                1  2014-04-06 00:58:00                1
14217               0  2015-06-21 18:28:00                1
2494                0  2014-10-05 18:45:00                1
478                 0             00:00:00                1
10844               0  2015-02-09 04:21:00                1

[5 rows x 30 columns]

Female Dogs in df1:
                                     Dog ID  Total Tests Completed  \
14586  fdb0dc82-7144-11e5-ba71-058fbc01cf0b                      4
311    fd405fde-7144-11e5-ba71-058fbc01cf0b                     18
6148   fd69eaa2-7144-11e5-ba71-058fbc01cf0b                     20
15950  fdb79d7e-7144-11e5-ba71-058fbc01cf0b                      1
1122   fd4415b6-7144-11e5-ba71-058fbc01cf0b                     20

       Mean ITI (days)  Mean ITI (minutes)  Median ITI (days)  \
14586         0.006505            9.366667           0.005382
311           0.004468            6.434314           0.001192
6148          0.162130          233.467544           0.003160
15950              NaN                 NaN                NaN
1122          0.002474            3.562281           0.000706

       Median ITI (minutes)  Time diff between first and last game (days)  \
14586              7.750000                                      0.019514
311                1.716667                                      0.075961
6148               4.550000                                      3.080475
15950                   NaN                                      0.000000
1122               1.016667                                      0.047002

       Time diff between first and last game (minutes)  \
14586                                        28.100000
311                                         109.383333
6148                                       4435.883333
15950                                         0.000000
1122                                         67.683333

                                    User ID  Gender  ...  Membership_ID  \
14586  ce823e56-7144-11e5-ba71-058fbc01cf0b  female  ...           10.0
311    ce138876-7144-11e5-ba71-058fbc01cf0b  female  ...            1.0
6148   ce6c2846-7144-11e5-ba71-058fbc01cf0b  female  ...            3.0
15950  ce92dec8-7144-11e5-ba71-058fbc01cf0b  female  ...           10.0
1122   ce25971e-7144-11e5-ba71-058fbc01cf0b  female  ...            1.0

      Subscribed         City State    Zip  Country  Exclude Free_Start_User  \
14586        1.0        Bronx    NY  10463       US        0               0
311          0.0  Woodinville    NC  27702       US        0               0
6148         1.0      Buffalo    NY  14223       US        0               0
15950        1.0          NaN   NaN    NaN      NaN        0               0
1122         0.0       Durham    NC  27701       US        1               0

            Last_Active_At  Membership_Type
14586  2015-06-28 00:22:00                1
311               00:00:00                1
6148   2014-09-15 23:52:00                3
15950  2015-08-24 11:55:00                1
1122              00:00:00                1

[5 rows x 30 columns]

Male Dogs in df2:
                Created_at          Updated_at  \
55576  2015-02-09 03:01:00 2015-02-09 03:01:00
100482 2013-03-04 03:17:00 2013-03-04 03:17:00
100483 2013-03-05 02:15:00 2013-03-05 02:15:00
100484 2013-03-05 02:18:00 2013-03-05 02:18:00
55565  2015-02-06 20:38:00 2015-02-06 20:38:00

                                     User_ID  \
55576   ce7a912e-7144-11e5-ba71-058fbc01cf0b
100482  ce251974-7144-11e5-ba71-058fbc01cf0b
100483  ce251974-7144-11e5-ba71-058fbc01cf0b
100484  ce251974-7144-11e5-ba71-058fbc01cf0b
55565   ce7a912e-7144-11e5-ba71-058fbc01cf0b

                                      Dog_ID          Test_name  \
55576   fd7ae6b8-7144-11e5-ba71-058fbc01cf0b    One Cup Warm-up
100482  fd416050-7144-11e5-ba71-058fbc01cf0b  Watching - Part 2
100483  fd416050-7144-11e5-ba71-058fbc01cf0b    One Cup Warm-up
100484  fd416050-7144-11e5-ba71-058fbc01cf0b    Two Cup Warm-up
55565   fd7ae6b8-7144-11e5-ba71-058fbc01cf0b       Yawn Warm-up

       Subcategory_name Gender  Birthday          Breed  Breed_Type  ...  \
55576            Memory   male      2014  Affenpinscher  Pure Breed  ...
100482          Cunning   male      2013  Affenpinscher  Pure Breed  ...
100483           Memory   male      2013  Affenpinscher  Pure Breed  ...
100484           Memory   male      2013  Affenpinscher  Pure Breed  ...
55565           Empathy   male      2014  Affenpinscher  Pure Breed  ...

       State    Zip  Country  Exclude Free_Start_User       Last_Active_At  \
55576     CA  95442       US      NaN             NaN  2015-02-09 04:21:00
100482    CA  91931       US      NaN             NaN                  NaN
100483    CA  91931       US      NaN             NaN                  NaN
100484    CA  91931       US      NaN             NaN                  NaN
55565     CA  95442       US      NaN             NaN  2015-02-09 04:21:00

        Membership_Type  Rating  Rank_by_UserID Rank_by_DogID
55576                 1     NaN            12.0          12.0
100482                1     NaN            11.0          11.0
100483                1     NaN            12.0          12.0
100484                1     NaN            13.0          13.0
55565                 1     NaN             1.0           1.0

[5 rows x 30 columns]

Female Dogs in df2:
               Created_at          Updated_at  \
95126 2013-02-22 17:41:00 2013-02-22 17:41:00
69373 2015-06-28 00:19:00 2015-06-28 00:19:00
69372 2015-06-28 00:05:00 2015-06-28 00:05:00
95133 2013-02-22 18:00:00 2013-02-22 18:00:00
95132 2013-02-22 17:57:00 2013-02-22 17:57:00

                                    User_ID  \
95126  ce138876-7144-11e5-ba71-058fbc01cf0b
69373  ce823e56-7144-11e5-ba71-058fbc01cf0b
69372  ce823e56-7144-11e5-ba71-058fbc01cf0b
95133  ce138876-7144-11e5-ba71-058fbc01cf0b
95132  ce138876-7144-11e5-ba71-058fbc01cf0b

                                     Dog_ID            Test_name  \
95126  fd405fde-7144-11e5-ba71-058fbc01cf0b            Yawn Game
69373  fdb0dc82-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game
69372  fdb0dc82-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up
95133  fd405fde-7144-11e5-ba71-058fbc01cf0b       Turn Your Back
95132  fd405fde-7144-11e5-ba71-058fbc01cf0b             Watching

      Subcategory_name  Gender  Birthday          Breed  Breed_Type  ...  \
95126          Empathy  female      2012  Affenpinscher  Pure Breed  ...
69373          Empathy  female      2009  Affenpinscher  Pure Breed  ...
69372          Empathy  female      2009  Affenpinscher  Pure Breed  ...
95133          Cunning  female      2012  Affenpinscher  Pure Breed  ...
95132          Cunning  female      2012  Affenpinscher  Pure Breed  ...

      State    Zip  Country  Exclude Free_Start_User       Last_Active_At  \
95126    NC  27702       US      NaN             NaN                  NaN
69373    NY  10463       US      NaN             NaN  2015-06-28 00:22:00
69372    NY  10463       US      NaN             NaN  2015-06-28 00:22:00
95133    NC  27702       US      NaN             NaN                  NaN
95132    NC  27702       US      NaN             NaN                  NaN

       Membership_Type  Rating  Rank_by_UserID Rank_by_DogID
95126                1     NaN            21.0           2.0
69373                1     NaN             4.0           4.0
69372                1     NaN             3.0           3.0
95133                1     NaN            28.0           9.0
95132                1     NaN            27.0           8.0

[5 rows x 30 columns]

In [17]:
# Display the summary counts after sorting
print("Summary for Male Dogs in df1:")
print(sorted_male_dogs_df1['Breed'].value_counts())

print("\nSummary for Female Dogs in df1:")
print(sorted_female_dogs_df1['Breed'].value_counts())

print("\nSummary for Male Dogs in df2:")
print(sorted_male_dogs_df2['Breed'].value_counts())

print("\nSummary for Female Dogs in df2:")
print(sorted_female_dogs_df2['Breed'].value_counts())

Summary for Male Dogs in df1:
Breed
Mixed                                                2116
Labrador Retriever                                    616
Golden Retriever                                      371
German Shepherd Dog                                   279
I Don't Know                                          224
                                                     ...
Cirneco dell"Etna                                       1
Clumber Spaniel                                         1
Cocker Spaniel-Bichon Frise Mix                         1
Cocker Spaniel-English Cocker Spaniel Mix               1
Yorkshire Terrier-Soft Coated Wheaten Terrier Mix       1
Name: count, Length: 902, dtype: int64

Summary for Female Dogs in df1:
Breed
Mixed                                      2197
Labrador Retriever                          568
Golden Retriever                            340
German Shepherd Dog                         289
I Don't Know                                214
                                           ...
Border Collie-Icelandic Sheepdog Mix          1
Havanese-Toy Fox Terrier Mix                  1
Border Collie-Pomeranian Mix                  1
Havanese-Maltese Mix                          1
Maltese-West Highland White Terrier Mix       1
Name: count, Length: 866, dtype: int64

Summary for Male Dogs in df2:
Breed
Mixed                                    20743
Labrador Retriever                        6693
Golden Retriever                          3913
German Shepherd Dog                       2903
Poodle                                    2269
                                         ...
Pomeranian-Yorkshire Terrier Mix             1
Labrador Retriever-Bull Terrier Mix          1
Labrador Retriever-Boykin Spaniel Mix        1
Border Collie-Irish Setter Mix               1
Smooth Fox Terrier-Chihuahua Mix             1
Name: count, Length: 902, dtype: int64

Summary for Female Dogs in df2:
Breed
Mixed                                        21319
Labrador Retriever                            5920
Golden Retriever                              3418
German Shepherd Dog                           2834
Australian Shepherd                           2040
                                             ...
Scottish Terrier-Dachshund Mix                   1
American Foxhound-German Shepherd Dog Mix        1
Poodle-Doberman Pinscher Mix                     1
Miniature Schnauzer-Yorkshire Terrier Mix        1
Miniature Pinscher-Rat Terrier Mix               1
Name: count, Length: 866, dtype: int64

In [18]:
# Get the summary counts for male and female dogs in df1
male_counts_df1 = sorted_male_dogs_df1['Breed'].value_counts()
female_counts_df1 = sorted_female_dogs_df1['Breed'].value_counts()

# Get the summary counts for male and female dogs in df2
male_counts_df2 = sorted_male_dogs_df2['Breed'].value_counts()
female_counts_df2 = sorted_female_dogs_df2['Breed'].value_counts()

# Combine the counts for male and female dogs
combined_counts_df1 = pd.DataFrame({'Male': male_counts_df1, 'Female': female_counts_df1})
combined_counts_df2 = pd.DataFrame({'Male': male_counts_df2, 'Female': female_counts_df2})

# Display the combined counts
print("Summary Counts for df1:")
print(combined_counts_df1.head())

print("\nSummary Counts for df2:")
print(combined_counts_df2.head())

Summary Counts for df1:
                                    Male  Female
Breed
Affenpinscher                        5.0     2.0
Affenpinscher-Brussels Griffon Mix   NaN     1.0
Afghan Hound                         2.0     3.0
Afghan Hound-Akita Mix               NaN     1.0
Afghan Hound-Golden Retriever Mix    NaN     1.0

Summary Counts for df2:
                                    Male  Female
Breed
Affenpinscher                       76.0    22.0
Affenpinscher-Brussels Griffon Mix   NaN    21.0
Afghan Hound                        40.0    25.0
Afghan Hound-Akita Mix               NaN     3.0
Afghan Hound-Golden Retriever Mix    NaN    20.0

In [21]:
# Calculate the ratio of males to females for each dog breed in df1
combined_counts_df1['Ratio (Male/Female)'] = combined_counts_df1['Male'] / combined_counts_df1['Female']

# Calculate the ratio of males to females for each dog breed in df2
combined_counts_df2['Ratio (Male/Female)'] = combined_counts_df2['Male'] / combined_counts_df2['Female']

# Display the calculated ratios
print("Ratios for df1:")
print(combined_counts_df1)

print("\nRatios for df2:")
print(combined_counts_df2)

Ratios for df1:
                                                   Male  Female  \
Breed
Affenpinscher                                       5.0     2.0
Affenpinscher-Brussels Griffon Mix                  NaN     1.0
Afghan Hound                                        2.0     3.0
Afghan Hound-Akita Mix                              NaN     1.0
Afghan Hound-Golden Retriever Mix                   NaN     1.0
...                                                 ...     ...
Yorkshire Terrier-Poodle Mix                       17.0     7.0
Yorkshire Terrier-Rat Terrier Mix                   NaN     1.0
Yorkshire Terrier-Shih Tzu Mix                      3.0     3.0
Yorkshire Terrier-Silky Terrier Mix                 2.0     NaN
Yorkshire Terrier-Soft Coated Wheaten Terrier Mix   1.0     NaN

                                                   Ratio (Male/Female)
Breed
Affenpinscher                                                 2.500000
Affenpinscher-Brussels Griffon Mix                                 NaN
Afghan Hound                                                  0.666667
Afghan Hound-Akita Mix                                             NaN
Afghan Hound-Golden Retriever Mix                                  NaN
...                                                                ...
Yorkshire Terrier-Poodle Mix                                  2.428571
Yorkshire Terrier-Rat Terrier Mix                                  NaN
Yorkshire Terrier-Shih Tzu Mix                                1.000000
Yorkshire Terrier-Silky Terrier Mix                                NaN
Yorkshire Terrier-Soft Coated Wheaten Terrier Mix                  NaN

[1326 rows x 3 columns]

Ratios for df2:
                                                    Male  Female  \
Breed
Affenpinscher                                       76.0    22.0
Affenpinscher-Brussels Griffon Mix                   NaN    21.0
Afghan Hound                                        40.0    25.0
Afghan Hound-Akita Mix                               NaN     3.0
Afghan Hound-Golden Retriever Mix                    NaN    20.0
...                                                  ...     ...
Yorkshire Terrier-Poodle Mix                       133.0    57.0
Yorkshire Terrier-Rat Terrier Mix                    NaN    20.0
Yorkshire Terrier-Shih Tzu Mix                      35.0    29.0
Yorkshire Terrier-Silky Terrier Mix                 27.0     NaN
Yorkshire Terrier-Soft Coated Wheaten Terrier Mix    5.0     NaN

                                                   Ratio (Male/Female)
Breed
Affenpinscher                                                 3.454545
Affenpinscher-Brussels Griffon Mix                                 NaN
Afghan Hound                                                  1.600000
Afghan Hound-Akita Mix                                             NaN
Afghan Hound-Golden Retriever Mix                                  NaN
...                                                                ...
Yorkshire Terrier-Poodle Mix                                  2.333333
Yorkshire Terrier-Rat Terrier Mix                                  NaN
Yorkshire Terrier-Shih Tzu Mix                                1.206897
Yorkshire Terrier-Silky Terrier Mix                                NaN
Yorkshire Terrier-Soft Coated Wheaten Terrier Mix                  NaN

[1326 rows x 3 columns]

In [22]:
# Display the calculated ratios for df1 without NaN values
print("Ratios for df1:")
print(combined_counts_df1.dropna())

# Display the calculated ratios for df2 without NaN values
print("\nRatios for df2:")
print(combined_counts_df2.dropna())

Ratios for df1:
                                           Male  Female  Ratio (Male/Female)
Breed
Affenpinscher                               5.0     2.0             2.500000
Afghan Hound                                2.0     3.0             0.666667
Airedale Terrier                           11.0     9.0             1.222222
Akita                                       9.0    15.0             0.600000
Akita-German Shepherd Dog Mix               1.0     1.0             1.000000
...                                         ...     ...                  ...
Yorkshire Terrier-Maltese Mix              12.0     7.0             1.714286
Yorkshire Terrier-Miniature Schnauzer Mix   5.0     1.0             5.000000
Yorkshire Terrier-Pomeranian Mix            1.0     1.0             1.000000
Yorkshire Terrier-Poodle Mix               17.0     7.0             2.428571
Yorkshire Terrier-Shih Tzu Mix              3.0     3.0             1.000000

[442 rows x 3 columns]

Ratios for df2:
                                            Male  Female  Ratio (Male/Female)
Breed
Affenpinscher                               76.0    22.0             3.454545
Afghan Hound                                40.0    25.0             1.600000
Airedale Terrier                            73.0    41.0             1.780488
Akita                                       49.0   181.0             0.270718
Akita-German Shepherd Dog Mix                2.0    15.0             0.133333
...                                          ...     ...                  ...
Yorkshire Terrier-Maltese Mix              115.0    83.0             1.385542
Yorkshire Terrier-Miniature Schnauzer Mix   10.0    40.0             0.250000
Yorkshire Terrier-Pomeranian Mix            16.0    16.0             1.000000
Yorkshire Terrier-Poodle Mix               133.0    57.0             2.333333
Yorkshire Terrier-Shih Tzu Mix              35.0    29.0             1.206897

[442 rows x 3 columns]

In [24]:
# Sort the DataFrame by the calculated ratios in df1
sorted_ratios_df1 = combined_counts_df1.sort_values(by='Ratio (Male/Female)', ascending=False)

# Sort the DataFrame by the calculated ratios in df2
sorted_ratios_df2 = combined_counts_df2.sort_values(by='Ratio (Male/Female)', ascending=False)

# Display the sorted DataFrames
print("Sorted Ratios for df1:")
print(sorted_ratios_df1.dropna())

print("\nSorted Ratios for df2:")
print(sorted_ratios_df2.dropna())

Sorted Ratios for df1:
                                                    Male  Female  \
Breed
Brussels Griffon                                    15.0     2.0
Chihuahua-Rat Terrier Mix                            7.0     1.0
Australian Cattle Dog-Australian Shepherd Mix        7.0     1.0
American Staffordshire Terrier-American Pit Bull T   7.0     1.0
Yorkshire Terrier-Miniature Schnauzer Mix            5.0     1.0
...                                                  ...     ...
Irish Water Spaniel                                  1.0     4.0
Stabyhoun                                            1.0     4.0
Jack Russell Terrier-Chihuahua Mix                   1.0     4.0
German Shepherd Dog-Australian Shepherd Mix          1.0     5.0
Australian Cattle Dog-Labrador Retriever Mix         1.0     9.0

                                                    Ratio (Male/Female)
Breed
Brussels Griffon                                               7.500000
Chihuahua-Rat Terrier Mix                                      7.000000
Australian Cattle Dog-Australian Shepherd Mix                  7.000000
American Staffordshire Terrier-American Pit Bull T             7.000000
Yorkshire Terrier-Miniature Schnauzer Mix                      5.000000
...                                                                 ...
Irish Water Spaniel                                            0.250000
Stabyhoun                                                      0.250000
Jack Russell Terrier-Chihuahua Mix                             0.250000
German Shepherd Dog-Australian Shepherd Mix                    0.200000
Australian Cattle Dog-Labrador Retriever Mix                   0.111111

[442 rows x 3 columns]

Sorted Ratios for df2:
                                                    Male  Female  \
Breed
German Shepherd Dog-Beagle Mix                      27.0     1.0
Manchester Terrier                                  48.0     2.0
German Shorthaired Pointer-American Pit Bull Terri  16.0     1.0
Irish Red and White Setter                          30.0     2.0
Miniature Schnauzer-Yorkshire Terrier Mix           12.0     1.0
...                                                  ...     ...
Danish-Swedish Farmdog                               2.0    46.0
Australian Cattle Dog-Labrador Retriever Mix         4.0    94.0
Doberman Pinscher-Rottweiler Mix                     1.0    24.0
Vizsla- Mix                                          1.0    28.0
Norwegian Buhund                                     2.0    60.0

                                                    Ratio (Male/Female)
Breed
German Shepherd Dog-Beagle Mix                                27.000000
Manchester Terrier                                            24.000000
German Shorthaired Pointer-American Pit Bull Terri            16.000000
Irish Red and White Setter                                    15.000000
Miniature Schnauzer-Yorkshire Terrier Mix                     12.000000
...                                                                 ...
Danish-Swedish Farmdog                                         0.043478
Australian Cattle Dog-Labrador Retriever Mix                   0.042553
Doberman Pinscher-Rottweiler Mix                               0.041667
Vizsla- Mix                                                    0.035714
Norwegian Buhund                                               0.033333

[442 rows x 3 columns]